@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@700&display=swap');

@import "./variables.css";

*{
    padding : 0;
    margin : 0;
    box-sizing : border-box;
}

a {
    text-decoration : none;
    color : inherit;
}

li {
    list-style-type : none ;
}

#app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: gray;
}

.conteiner{
    width: 1440px;
    height: 200vh;
    background: var(--fourth-bg);
}

.header{
    display: flex;
    flex-direction: column;
}

.header__about{
    width: 1440px;
    height: 42px;
    display: flex;
    justify-content: space-between;
    background: var(--primary-bg);
}

.header__about-text{
    margin-top: 14px;
    margin-left: 120px ;
    width: 30%;
}

.about-text-1{
    font-size: var(--fs-xs);
    color: var(--primary-color);
}

.del-text{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
}

.header__block{
    display: flex;
    margin-right: 120px;
    width: 406px;
    justify-content: space-around;
}

.about-text-2{
    font-size: var(--fs-xs);
    color: var(--primary-color);
}

.about-text-color{
    font-size: var(--fs-xs);
    margin-left: 10px;
    color: black;
}

.header__deliver{
    display: flex;
    margin: 12px;
    border-right: 2px solid var(--spare-bg);
    width: 148.82px;
}

.icon-del1{
    width: 11.52px;
    height: 13.7px;
}

.icon-del2{
    position: absolute;
    margin-top: 5px;
    margin-right: 15px;
    width: 3.69px;
    height: 3.69px;
}

.icon-deliver-wrapper{
    width: 11.52px;
    height: 13.7px;
}


.header__track{
    display: flex;
    justify-content: start;
    margin-top: 12px;
    border-right: 2px solid var(--spare-bg);
    height: 18px;
    width: 130px;
}

.icon-track-wrapper{
    width: 16.5px;
    height: 14.25px;
}

.icon-track{
    width: 23px;
    height: 18px;
}

.track-text{
    margin-left: 10px;
    font-size: var(--fs-xs);
    color: var(--primary-color);
}


.header__all{
    display: flex;
    margin-top: 12px;
    width: 100px;
}
.icon-all-wrapper{
    width: 13.87px;
    height: 13.87px;
    margin-left: 10px;
}

.icon-all{
    width: 13.87px;
    height: 13.87px;
}

.all-text{
    margin-left: 10px;
    font-size: var(--fs-xs);
    color: var(--primary-color);
}

.header__logo{
    display: flex;
    width: 1440px;
    height: 90px;
    background: var(--fourth-bg);
    border-bottom: 2px solid var(--primary-bg);
}

.logo-wrapper{
    display: flex;
    margin-top: 31px;
    margin-left: 120px;
}

.logo{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.button__logo{
    width: 48px;
    height: 48px;
    background: var(--primary-button-bg);
    outline: none;
    border: none;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.line-1{
    width: 26px;
    border: 1.5px solid var(--additional-bg);
    margin-left: 12px;
    margin-top: 14px;
}

.line-2{
    width: 19px;
    border: 1.5px solid var(--additional-bg);
    margin-left: 12px;
    margin-top: 9px;
}

.line-3{
    width:13px ;
    border: 1.5px solid var(--additional-bg);
    margin-top: 9px;
    margin-left: 12px;
}

.title{
    width: 138px;
    height: 28px;
    margin-top: 11px;
    margin-left: 5px;
}

.input-wrapper{
    display: flex;
    background: var(--primary-button-bg);
    width: 507px;
    height: 48px;
    margin-top: 21px;
    margin-left: 220px;
    border-radius: 10px;
}

.icon-input{
    width: 18.48px;
    height: 18.48px;
    margin-top: 17px;
    margin-left: 18px;
}

.input{
    width: 400px;
    background: inherit;
    border: none;
    outline: none;
    margin-left: 12.43px;
}

.line__input{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.input-line-wrapper{
    display: flex;
}

.line-4{
    width: 16px;
    margin-top: 7px;
    margin-left: 2px;
    border: 1.5px solid var(--additional-bg);
}

.line-5{
    margin-top: 7px;
    width: 2px;
}

.sign{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 38px;
}

.icon__sign-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-sign-1{
    width: 8px;
    height: 8px;
}

.icon-sign-2{
    width: 12px;
    height: 5px;
    margin-top: 3px;
}

.sign-text-wrapper{
    display: flex;
    align-items: center;
    margin-left: 14px;
    border-right: 1px solid var(--spare-bg);
    padding: 20px;
    height: 24px;
    color: var(--primary-color);
}

.cart{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.icon__cart{
    width: 19px;
    height: 14.5px;
}

.cart-text-wrapper{
    margin-left: 9px;
    color: var(--primary-color);
    font-family: var(--primary-bg);
}

.section{
    padding: 10px;
    border-bottom: 1px solid var(--primary-bg);
}

.nav{
    margin-left: 104px;
}

.button__nav{
    margin-top: 16px;
    margin-left: 14px;
    padding: 12px;
    font-size: var(--fs-xs);
    border-radius: 18px;
    border: none;
    background: var(--primary-button-bg);
    color: var(--secondary-color);
}

.button__nav:hover{
    background: var(--additional-bg);
    color: aliceblue;
}

.img-arrow{
    width:10.5px;
    height: 5.05px;
    margin-left: 8px;
    margin-bottom: 3px;
}

.link-arrow__nav:hover{
    background: url(../public/icons/arrow-1.png);
}

.ellips{
    position: absolute;
    width: 480px;
    margin-bottom: 65px;
    margin-left: 845px;
    border-radius: 25px;
}

.ellips-2{
    position: absolute;
    width: 480px;
    margin-bottom: 600px;
    margin-left: 837px;
}

.ellips-3{
    width: 148px;
    position: absolute;
    margin-top: 252px;
    margin-left: 900px;
}

.ellips-4{
    width: 177px;
    position: absolute;
    margin-top: 239px;
    margin-left: 885px;
}

.img-wrapper__banner{
    position: absolute;
    margin-top: 24px;
    margin-left: 920px;
   
}

.img__banner{
    width: 268px;
}

.banner{
    display: flex;
    margin-top: 20px;
    margin-left: 120px;
    justify-content: center;
    align-items: center;
    width: 1201px;
    height: 316px;
    background: var(--third-bg);
    border-radius: 16px;
}

.ellips-left{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 86px;
    height: 86px;
    background: var(--primary-button-bg);
    position: absolute;
    margin-left: -1200px;
    /* margin-bottom: -100px; */
    border-radius: 50%;
    border: 5px solid white;
}

.arrow-ellips{
    width: 7px;
    height: 14px;
}

.ellips-left__button{
    margin-bottom: 87px;
}

.ellips-right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 86px;
    height: 86px;
    background: var(--primary-button-bg);
    position: absolute;
    margin-left: 1200px;
    /* margin-bottom: -100px; */
    border-radius: 50%;
    border: 5px solid white;
}

.ellips-right__button{
    /* margin-left: 555px; */
    margin-bottom: 87px;
}

.text__banner{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-bottom: 60px;
    margin-left: -470px;
}

.text-1{
    font-size: var(--fs-xl);
}

.text-2{
    font-size: var(--fs-xxl);
}

.rect__banner{
    position: absolute;
    margin-top: 240px;
    margin-left: -980px;
}

.rect{
    width: 24px;
    height: 8px;
}

.rect-c{
    width: 8px;
    height: 8px;
}

.main{
    margin-top: 120px;
    margin-left: 120px;
    width: 1198px;
}

.text-section-wrapper{
    display: flex;
    justify-content: space-between;
}

.text-section{
    display: flex;
    margin: 4px;
    width: 50%;
   
}

.text-4{
    font-size: var(--fs-l);
    color: var(--primary-color);
}

.text-5{
    font-size: var(--fs-l);
    color: var(--third-color);
    margin-left: 8px;
}

.text-view{
    display: flex;
    justify-content: end;
    width: 100%;
    height: 18px;
    margin-top: 10px;
}

.text-6{
    color: var(--secondary-color);
    font-size: var(--fs-s);
    margin-right: 13px;
}

.img-view{
    width: 5.5px;
    height: 10.5px;
    margin-top: 4px;
}

.line-wrapper{
    display: flex;
    margin-top: 16px;
}

.line-1__main{
    width: 40%;
    border: none;
    border-bottom: 3px solid var(--third-color);
}

.line-2__main{
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--spare-bg);
}

.products{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

.block-products{
    width: 227px;
    height: 295px;
    border-radius: 16px;
    margin-top: 40px;
    border:1px solid #EDEDED;
}

.block-product{
    display: flex;
    justify-content: space-between;
    width: 227px;
    height: 188px;
    border-radius:16px;
    background: var(--primary-bg);
}

.img-product-1{
    width: 84px;
    height: 158px;
    margin-top: 20px;
    margin-left: 70px;
}

.img-product-2{
    width: 126px;
    height: 164px;
    margin-top: 20px;
    margin-left: 30px;
}

.img-product-3{
    width: 126px;
    height: 178px;
    margin-top: 17px;
    margin-left: 30px;
}

.img-product-4{
    width: 126px;
    height: 164px;
    margin-top: 20px;
    margin-left: 30px;
}

.img-product-5{
    width: 116px;
    height: 164px;
    margin-top: 20px;
    margin-left: 30px;
}

.sale-wrapper{
   
}

.sale{
    width: 51px;
    height: 53px;
    margin-left: 20px;
}

.percent{
    position: absolute;
    width: 35px;
    height: 32px;
    margin-top: 10px; 
    margin-left: -40px;
    color: white;
}

.block-price{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 12px;
}

.title-product{
    font-size: var(--fs-s);
}

.before-after{
    display: flex;
    margin-top: 10px;
   
}

.befor-price{
    font-size: var(--fs-s);
    color: #222222;
}

.after-price{
    margin-left:20px ;
    text-decoration: line-through;
}

.line__befor-after{
    width: 210px;
}

.save{
    margin-top: 10px;
    color: var(--additional-color);
}

.top-categories{
    margin-top: 121px;
}

.top-categori{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 40px;
    margin:  20px;
    margin-top: 40px;
}

.img-wrapper__top{
    width: 132px;
    height: 132px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--secondary-bg);
    border-radius: 50%;
}

.img__top-1{
    width: 52px;
    height: 98px;
}

.img__top-2{
    width: 60px;
    height: 113px;
}

.img__top-3{
    width: 132px;
    height: 132px;
}

.img__top-4{
    width: 124px;
    height: 124px;
}

.img__top-5{
    width: 92px;
    height: 92px;
}

.img__top-6{
    width: 118px;
    height: 118px;
}

.img__top-7{
    width: 124px;
    height: 124px;
}

.top{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-top{
   margin-top: 20px;
   margin-left: 30px;
}










