:root{

/* * *Background*/

--primary-bg: #EAEAEA;
--secondary-bg: #F5F5F5;
--third-bg:#212844;
--fourth-bg:#FFFFFF;
--iphone-bg:#313131;
--iphone-ellips-bg:#404040;
--realme-bg:#FFF3CC;
--realme-ellips-bg:#F6DE8D;
--xiaomi-bg:#FFECDF;
--xiaomi-ellips-bg:#FFD1B0;
--additional-bg:#008ECC;


}





